h1 {
    font-family: 'Playfair Display', serif;
}
.home {
    text-align: center;
}
h2 {
    border: 5px solid rgb(39, 49, 68);
    font-family: 'Edu TAS Beginner', cursive;
}
.home2 {
    background-image:url(./7626.jpg);
    color: rgb(9, 15, 49);
}
footer {
    text-align: center;
}
.resume {
    background-color: rgb(190, 129, 247);
}
.contact {
    background-color: rgb(190, 129, 247);

}